.video {
  z-index: 11;
  .content{
    padding-top: 44px;
    padding-bottom: 50px;
  }
  .top {
    position: relative;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    video{
      display: block;
      width: 100%;
      &::-internal-media-controls-download-button {
        display:none;
      }
      &::-webkit-media-controls-enclosure {
        overflow:hidden;
      }
      &::-webkit-media-controls-panel {
        width: calc(100% + 50px); 
      }
    }
    .btn-back {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    .btn-love {
      position: absolute;
      top: 15px;
      right: 52.5px;
    }
    .btn-share {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .teacher {
    height: 60px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    .avater {
      position: relative;
      margin: 0 15px;
      img{
        border-radius: 50%;
      }
      .v {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .teacher-name {
      font-size: 15px;
      color: #666;
    }
    .teacher-other {
      span {
        font-size: 12px;
        color: #999;
        vertical-align: middle;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  .video-info{
    padding: 10px 15px;
    background-color: #fff;
    font-size: 15px;
    line-height: 20px;
    color: #666;
  }
  .video-con {
    padding: 15px;
    background-color: #fff;
    h1 {
      margin: 10px 0;
      font-size: 16px;
      text-align: center;
    }
    .answer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      border-radius: 5px;
      border: solid 1px #1d9ff5;
      img {
        vertical-align: middle;
        margin-right: 26px;
      }
      span {
        font-size: 16px;
        color: #1d9ff5;
        vertical-align: middle;
      }
    }
  }
  
  .comment{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 540px;
    height: 50px;
    border-top: 1px solid #eee;
    background-color: #fff;
    z-index: 12;
    input{
      display: list-item;
      height: 40px;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      background-color: #eee;
    }
    input::-webkit-input-placeholder{
      color: #999;
      font-size: 14px;
    }
    span{
      margin: 0 11px;
      font-size: 17px;
      color: #666;
    }
  }
}
